body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 20px;
}

.images{
  position: relative;
  left: 60px;
  
}

.options{
  padding-top:30px;
}


.but{
  margin-right: 10px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 20px;
}

.search{
  width: 370px;
  height: 30px;
  position: relative;
  top: 30px;

}

.profile{
  padding-top: 30px;
  padding-right: 20px;
}

.pro{
  margin-right: 10px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 20px;

}

.middle{
  background-color: rgb(216, 227, 216);
  padding-left: 50px ;
  padding-right: 50px;
  padding-top: 50px;
  justify-content: center;
}

.cat{
  background-color: rgb(3, 98, 3);
  color: white;

}

button{
  height: 50px;
  background-color: orange;
  border: none;
  border: 2px solid black;
  border-radius: 10px;
}