body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first{
  background-color: white;
  height: 200px;
  width: 400px;
  text-align: center;
  border-radius: 5px;


}

button{
  font-size: 15px;
  margin-right: 10px;
  /* height: 80px; */
  padding: 20px;
  background-color: orange;
  border: 2px solid black;
  border-radius: 5px;
}