body{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#root{
  border-radius: 10px;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
}

button{
  width: 60px;
  height: 40px;
  margin-right: 10px;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
}