body{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
 
}

#root{
  width: 500px;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: rgb(233, 233, 141);
  text-align: center;
}

.second{
  font-size: 20px;
}